// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.

$v-font-size: 14px;
$v-font-weight: 300;
$v-font-family: "Open Sans", sans-serif;
//$v-font-family: 'LimeFont', cursive;

// Defines the border used by all components.

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc

//$v-background-color: #151715;
//$v-app-background-color: #151715;
//$v-app-titlebar-color: #101210;

$v-app-titlebar-color: #282828;

$v-background-color: #565656;
$v-app-background-color: #565656;


// Affects the visual appearance of all components
$v-gradient: v-linear 8%;

// Defines colors for indicating status (focus, success, failure)

$v-border-radius: 0px;
$v-border: 1px solid v-tone;

$v-friendly-color: #2c9720;
$v-error-indicator-color: #ed473b;

$v-focus-color: #efe;
$v-focus-style: 0 0 5px 2px hsla(85,100%,50%,0.4);

$shadowColor: rgba(0, 0, 0, .6) !default;

@import "../valo/valo.scss";

@font-face {
	    font-family: LimeFont;
	    font-stretch: expanded;
	    src: url(./peajackandjane.ttf) format("ttf");
	    src: url(./peajackandjane-webfont2.woff2) format("woff2");
}

@mixin greenhive {
  @include valo;

  // Insert your own theme rules here
  
  hr {
  	border: none;
  	border-top: 1px solid #6b6b6b;
  }
 
  .mainheader {
    background-color: $v-app-titlebar-color;
  }
  
  .mainheadercaption {
  	color: white;
  	font-size: 18pt;
  }
  
  
  .mainheadercaptionmode {
  	color: white;
  	font-size: 16pt;
  }
  
  .mainheaderspacer {
  	border-left: 1px solid #73a84e;
  }
  
  .menuitem {
  	
  	
  }
  
  .v-panel {
  	background-color: $v-app-background-color;
  }
  
  .v-panel-caption {
	border:none;
	background-color: $v-app-background-color;
	background-image: none;
	color: #96A696;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.3);
	box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.3);
	text-shadow: 0px 0px 0 rgba(255, 255, 255, 0.05);
	border-radius: 0px 0px 0 0; 
	margin: 5px;

  }
 
  .v-absolutelayout-wrapper.v-absolutelayout-wrapper-menuitem {
	    background-image: url("./icons/gh-button.png") !important;
	    background-repeat: no-repeat !important;
	    background-position: 3px 12px;
	    width: 64px;
	    height: 70px;
	    padding-top: 52px;
	    padding-left: 7px;
	    
	    &:hover,
		&:focus,
		&:active {
			background-image: url("./icons/gh-button_active.png") !important;
			background-position: 3px 12px;
			z-index:99;
			height: 82px;
		}
	}
	
 .v-layout.v-widget.logon {
 	background-color: #454545;
 }	
 
 .v-panel-content-loginview	{
	display: flex;
	align-items: center;
	justify-content: center;
	
	& > * {
		color: white !important;
	}
  }
  
  .v-horizontallayout-fancy {
  	background-color: #73a84e;
	border-radius: 0px;
	color: white;
	&:hover,
	&:focus,
	&:active {
		-moz-box-shadow: 0 0 5px #fff;
		-webkit-box-shadow: 0 0 5px #fff;
		box-shadow: 0px 0px 5px #fff;
		filter:progid:DXImageTransform.Microsoft.Glow(Color=white,Strength=5);
	}
  }
  
  .welcome1 {
  	font-size: 20pt;
  	color:#73a84e;
  }
  
  .welcome2 {
  	font-size: 13pt;  	
  	color:#909090;
  }
}
