@mixin addons {

	.logon {
		background-image: url('image/landing_page_greenhive_bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center bottom;
	}
	
	.logonpanel {
		background-color: rgba(10,10,10,0.7);
	}

}